.card {
    --bs-card-bg: var(--bs-tertiary-bg);
    --bs-card-spacer-y: 1.1rem;
    --bs-card-spacer-x: 1.2rem;
    .bg-success {
        background-color: var(--bs-success-bg-subtle);
    }
}

.card-header,
.card-footer {
    padding: 12px 20px;
}

.card-body {
    padding: 20px;
}

@include media-breakpoint-down(sm) {
    .card-deck > .card {
        margin-bottom: 15px !important;
    }
}
